;=============================================================;
;                                                             ;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗    ;
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗   ;
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝   ;
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗   ;
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║   ;
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝   ;
;                                                             ;
;==========| Config by Alberto Zamora              |==========;
;==========| Check out https://github.com/BeZaBel/ |==========;
;                                                             ;
;=============================================================;

;; Includes

include-file = modules.ini
include-file = aesthetics.ini
include-file = colors.ini

[bar/single]
bottom = false
fixed-center = true
width = 1868
height = 45
offset-y = 2
offset-x = 26
background = ${color.bground}
foreground = ${color.fground}
line-size = 5
border-size = 0
border-color = ${color.gold}
padding-left = 5
padding-right = 5
module-margin-left = 0
module-margin-right = 0
font-0 = Dosis:size=15;3
font-1 = Font Awesome 6 Free Solid:size=12;3
font-2 = JetBrainsMono Nerd Font:size=26;6
font-3 = JetBrainsMono Nerd Font:size=11;3
modules-left = sep1 workspaces sep1 windowname 
modules-center = clock
modules-right = leftgold system volume keyboard rightgold sep1 battery sep3 sep4
tray-position = center
tray-offset-x = 45%
tray-maxsize = 20
tray-background = ${color.bground}
cursor-click = pointer
cursor-scroll = ns-resize

[bar/blank]
bottom = false
fixed-center = true
width = 1868
height = 45
offset-y = 0
offset-x = 26
background = ${color.transparency}
foreground = ${color.transparency}
line-size = 5
border-size = 0
border-color = ${color.gold}
padding-left = 5
padding-right = 5
module-margin-left = 0
module-margin-right = 0
font-0 = Dosis:size=15;3
font-1 = Font Awesome 6 Free Solid:size=12;3
font-2 = JetBrainsMono Nerd Font:size=26;6
font-3 = JetBrainsMono Nerd Font:size=11;3
modules-left = 
modules-center = blankplate
modules-right = 
; tray-position = center
; tray-offset-x = 47%
; tray-maxsize = 20
; tray-background = ${color.transparency}
cursor-click = pointer
cursor-scroll = ns-resize

[settings]
screnchange-reload = true

[global/wm]
margin-top = 0
margin-bottom = 0

;vim:ft=dosini
